@model GoldenLilies.Models.Atrakcija


@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.naziv)</h1>

<div>
    <h4>Atrakcija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.informacije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.informacije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.radnoVrijeme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.radnoVrijeme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lokacija.naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vrstaAtrakcije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrstaAtrakcije.naziv)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Zaposlenik"))
    {
     <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>   
    }
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="Fotografija" asp-action="Index">Fotografije</a>
     @if (User.IsInRole("Registrovani Korisnik"))
                    {
                        <button type="button">Fotografiši</button>
                    }

</div>
