@model IEnumerable<GoldenLilies.Models.Atrakcija>

@{
    ViewData["Title"] = "Pretraži atrakcije u BiH";
}

<h1
    style="text-align: left; font-family:Arial; color: #275F76 "> Pretraga atrakcija u BiH
</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.informacije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.radnoVrijeme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lokacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vrstaAtrakcije)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.informacije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.radnoVrijeme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lokacija.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vrstaAtrakcije.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
